.Importance {
    background-color: rgba(182, 244, 148, 0.3);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    direction: rtl;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(152, 18, 18, 0.2);
    font-family: 'assistant', sans-serif;
    font-weight: 500;
}

.Importance h2 {
    font-size: 2rem;
    color: darkolivegreen;
}

.Importance p {
    padding: 10px;
    font-size: 1.2rem;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(182, 244, 148, 0.3);
    box-shadow: 0 4px 8px rgba(152, 18, 18, 0.2);
}