@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Hebrew:wght@100..800&display=swap');

.SayHallo {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    background-color: black;
    direction: rtl;
}

.SayHallo h1 {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:green
}

@media (max-width: 600px) {
    .SayHallo {
        font-size: 30px;
    }
    .SayHallo h1 {
        font-size: 40px;
        transform: translateY(-150px);
    }
    .shabab {
        display: block;
        color: red;
    }
}
